.form1{border: 3px solid gray;
    margin:auto;
    align-items: center;
    background-color: #FAFAFA;}
    
.form2{font-size: x-large; font-family: Georgia, 'Times New Roman', Times, serif; text-align: center;}